<!-- src/Ens/JobeetBundle/Resources/views/Job/index.html.twig -->


<!-- the rest of the code -->




{#
<p>JOB</p>
<p>Id:</p>{{ advert.id }} <br>
<p>Email:</p>{{ advert.Email }} <br>
<p>Company:</p>{{ advert.Company }}<br>
<p>url</p>{{ advert.Url }}<br>
{{ advert.Type }}<br>
{{ advert.Position }}<br>
{{ advert.Location }}<br>
{{ advert.Description }}<br>
{{ advert.HowToApply }}<br>
{{ advert.Token }}<br>
{{ advert.IsPublic }}<br>
{{ advert.IsActivated }}<br>
{{ advert.UpdatedAt|date("Y-d-m h:i:s") }}<br>
#}{#



<p>Affilate dessus ----------</p>


{{ advert.Email }}<br>
{{ advert.Url }}<br>
{{ advert.Token }}<br>
{{ advert.createdAt|date("Y-d-m h:i:s") }}<br>
#}
